body {
  background-color: #f6f6f6;
}
.welcome {
  // border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
}
.title h2 {
  text-align: center;
}
.cause-container-title{
  text-align: center;
  font-weight: lighter;
}
.lock-h3 {
  height: 40vh;
}
.page-container {
  height: 135vh;
}
.next-button{
  height: 0px;
}
.page-container-background{
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("https://res.cloudinary.com/k2x4b-523p/image/upload/v1623112549/n2omdnrbdzk3bk7w7jzf.jpg");
  opacity: 0.9;
  background-size: 60%;
  background-position: 35px -80px;
}
.card-topper {
  height: 25%;
  border-bottom: solid 8px #D2E7D5;
}
.card-topper-left {
  height: 25%;
  border-bottom: solid 8px #6ec5ee;
}
.cause-show-card-right {
  height: 25%;
  box-shadow: 0 10px 30px 0 rgba(grey, .5);
}
.cause-show-card {
  height: 65vh;
  margin: 30px;
  border-radius: 8px;
  flex: 2;
  background-color: #f6f6f6;
  border: solid 1px #lightgrey;
  h3 {
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 15px;
    border-radius: 8px;
    }
  h2 {
    font-size: 16px;
    color: black;
    text-align: center;
    padding:15px;
    border-radius: 8px;
    // background-color: #f6f6f6;
    }
  h6 {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align: center;
    padding: 10px 0px 17px 0px;
    width: 100%;
    box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
    background-color: #f6f6f6;
  }
}
.cause-show-cards {
  margin: 0px 16px;
  display: flex;
  height: 40vh;
}
.progess-bar {
  border: #d1dfd4 4px solid;
  padding: 8px;
  margin: auto;
  height: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.check-boxes {
  position: absolute;
  left: 20px;
  top: -50px;
}
.progess-bar-dashboard {
  border: #d1dfd4 4px solid;
  padding: 8px;
  margin: auto;
  height: 65px;
  font-size: 4.5vw;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.form-check-label {
  padding: 10px;
  margin: 10px;
  height: auto;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  border-radius: 0px 16px 16px 0px;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  border: 1px solid lightgrey;
  a { color: black;
    font-size: 22px;
    padding: 10px;
    margin-left: 42px;
    width: 90%;
    border-left: 1px solid #D2E7D5;
  }
}
.form-check-label:hover {
  background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,1) 12%, rgba(210,231,213,1) 12%);
  transition: .4s ease;
  a { border-left: 1px solid #D2E7D5;
    transition: .4s ease;
  }
}
.timeform b {
  position: absolute;
  padding-top: 10px;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
}
.timeform {
  display: block;
  padding: 20px;
  height: 36vh;
  overflow: scroll;
  a {font-size: 16px;}
}
.carousel-container {
  display: flex;
  align-self: end;
  width: 78%;
  margin: auto;
}
 .twitter-card{
  display: block;
  padding: 0px 25px 20px 25px;
  height: 47vh;
  overflow: scroll;
}
.tweet {
  font-family: 'Quicksand', sans-serif;
  position: relative;
}
.twitter-header {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.cause-carousel {
  display: flex;
  padding: 10px;
  position: relative;
  h6 {
  text-align: center;
  margin-right: 8px;
  }
}
.cause-carousel {
  flex: 1.4;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 40vh;
  border-radius: 8px;
  img {
    width: 40vw;
    height: 40vh;
    margin: auto;
    object-fit: cover;
  border-radius: 8px;
      opacity: 0.8;
  }
}
.cause-container {
  width: 80%;
  height: 67vh;
  margin: auto;
}
.save{
  width: 100%;
  padding: 16px 0;
.save-button{
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  }
}
h3 {
  margin: .5em 0;
  color: black;
}
.organisations-info {
  flex: 0.7;
  margin: 17% 3% 0 20px;
  padding: 10px;
  height: 25vh;
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0 10px 30px 0 rgba(grey, .5);
  background-color: #f6f6f6;
  h5 { text-align: center;
    font-family: 'Quicksand', sans-serif;
}
  p { text-align: center;
    margin: auto;
    padding: 12px;
    font-size: 14px;
  }
}
.more-info-show {
  flex: 0.7;
  margin: 17% 20px 0 3%;
  padding: 10px;
  height: 25vh;
  border-radius: 8px;
  box-shadow: 0 10px 30px 0 rgba(grey, .5);
  background-color: #f6f6f6;
  h5 { text-align: center;
  font-family: 'Quicksand', sans-serif;
}
  p { text-align: center;
    font-family: 'Quicksand', sans-serif;
      font-size: 13px;}
}
h3 {
  margin: .5em 0;
  color: black;
}
.carousel-image {
  position: relative;
  margin-top: 40px;
}
.arrow-left {
  font-size: 50px;
  color: lightgrey;
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  z-index: 1;
}
.arrow-right {
  font-size: 50px;
  color: lightgrey;
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0.7;
}
.arrow:hover {
  opacity: 1;
  text-transform: scale(1.03);
  cursor: pointer;
}
.tweet-created-at {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
