.container {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  width: auto;
}
.welcome {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
}
.title h2 {
  text-align: center;
  // padding: 4px;
  // margin: 8px;
}
.cause-twitter-card {
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: stretch;
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 4px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 0;
}

.cause-show-card {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  height: 50vh;
  flex: 2;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cause-show-cards {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  display: flex;
}

.carousel-container h6 {
  text-align: center;
  margin-right: 8px;
}
.more-info {
  margin: auto;
  width: 30%;
}
.more-info-show {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  height: 100vh;
  background-color: white;
}
.progess-bar {
  border: #d1dfd4 4px solid;
  padding: 8px;
  margin: auto;
  height: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.progess-bar-dashboard {
  border: #d1dfd4 4px solid;
  padding: 8px;
  margin: auto;
  height: 65px;
  font-size: 4.5vw;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.timeform {
  display: block;
}
.cause-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 80%;
  margin: auto;
  img {
    width: 40vw;
    height: 40vh;
    margin: auto;
    object-fit: contain;
  }
}
button {
  margin: auto;
  // agn: middle;
}
.cause-container {
  width: 100%;
  height: 50vh;
}
