.container {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  width: auto;
}
.welcome {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
}
.title h2 {
  text-align: center;
  padding: 4px;
  margin: 8px;
}
.cause-carousel {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  height: 25vh;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cause-show-card {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  height: 50vh;
  flex: 2;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cause-show-cards {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  display: flex;
}

.carousel-container h6 {
  text-align: center;
  margin-right: 8px;
}
.more-info {
  border: #d1dfd4 4px solid;
  margin: auto;
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.more-info-show {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  height: 100vh;
  background-color: white;
}
.progess-bar {
  border: #d1dfd4 4px solid;
  padding: 8px;
  margin: auto;
  height: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
