// Specific CSS for your home-page
.container {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin-bottom: 8px;
}
.container-home-left {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  flex: 3;
  position: relative;
}

.container-home-right {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  flex: 2;
  text-align: center;
}

.container-title {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: space-between;
  text-align: center;
}

.card {
  border: #d1dfd4 4px solid;
  padding: 4px;
  margin: 8px;
  text-align: center;
  vertical-align: middle;
}

.carousel {
  border: #d1dfd4 4px solid;
  text-align: center;
  margin: 8px;
  height: 40vh;
  position: relative;
}

.title {
  border: #d1dfd4 4px solid;
  text-align: center;
  margin: 8px;
}

.welcome {
  display: flex;
  height: 93vh;
}

.buttons {
  border: #d1dfd4 4px solid;
  height: 250px;
  position: absolute;
  bottom: 16px;
  left: 12px;
  right: 12px;
}

.button-ta a {
  background: #d1dfd4;
  border:  1px solid #cccccc;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding:  32px 68px;
  color:  #ffffff;
  display:  inline-block;
  font:  normal normal 30px/1 "Open Sans", sans-serif;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 100px;
  right: 100px;
  text-decoration: none;
}
.button-li a {
  background: #d1dfd4;
  border:  1px solid #cccccc;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding:  16px 32px;
  color:  #ffffff;
  display:  inline-block;
  font:  normal normal 30px/1 "Open Sans", sans-serif;
  text-align: center;
  position: absolute;
  bottom: 16px;
  left: 150px;
  right: 150px;
  text-decoration: none;
}
button {
  background: #d1dfd4;
  border:  1px solid #cccccc;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding:  16px 32px;
  display:  inline-block;
  font:  normal normal 30px/1 "Open Sans", sans-serif;
  text-align: center;
  a {color: white}
}
button:hover {
  transform: scale(1.03);
  transition: .2s ease-in-out;
  a {
  color: darkgrey;
  text-decoration: none;
  transition: .2s ease-in-out;
  }
}
#border:hover
{
  box-shadow: inset 0 0 0 20px #d1dfd4;
  transition: .2s ease-in-out;
}
