  <h1>Create Page for Actions</h1>
<div class="container">
    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis velit, amet facere, officia molestiae, repellendus sequi doloribus ullam at omnis quisquam atque aspernatur voluptas minus unde laborum, doloremque cumque voluptatum.</h2>
</div>
