<div class="container">
  <h2><%= @name %>'s completed tasks</h2>
   <ul class="list-unstyled">
      <% @tasks.each do |task| %>
      <li><%= task.name%> <br> Time: <%= task.time %> <br>  Points: <%= task.points %> </li>
      <br>
    <% end %>
   </ul>
</div>
