<div class="container">
  <h1>Create Page for Actions</h1>
</div>

<div class="container">
  <div class="card">
    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis velit, amet facere, officia molestiae, repellendus sequi doloribus ullam at omnis quisquam atque aspernatur voluptas minus unde laborum, doloremque cumque voluptatum.</h2>
  </div>
  <div class="card">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam perspiciatis tempore earum, ipsum possimus inventore laborum hic, quisquam. Maxime fugiat voluptatibus possimus, molestiae corporis laudantium dolores cumque cupiditate. Beatae, eaque!</h2>
  </div>
</div>
