<div class="container">
  <h1>Show Page for Users</h1>
</div>

<div class="container">
  <div class="card-left">
    <h2>This is the page with news on the left</h2>
  </div>
  <div class="card-right">
    <h2>tasks on the right, cause at the top</h2>
  </div>
</div>
