<h6>Click on the links below then mark <br />the task as complete once you're done!</h6>
<ul>
  <%= form_for(@user) do |f| %>
    <%= f.collection_check_boxes(:task_ids, @tasks.all, :id, :name) do |task| %>
      <li>
        <%= task.check_box %>
        <%= task.label %>
      </li>
    <% end %>
  <% end %>
</ul>
