<h6>Click on the links below then mark <br />the task as complete once you're done!</h6>


<%= simple_form_for :store_tasks, url: store_tasks_users_path do |f| %>
  <%= f.input :task_ids, label: "", required: false, as: :check_boxes, collection: @tasks, label_method: lambda {|task| "<a href=\"#{task.url}\" target=\"_blank\">#{task.name}</a>".html_safe } %>
  <%= f.submit "save" %>
<% end %>



