<div class="welcome">
  <div class="choose">
    <h1>Welcome O.nline A.ctivist</h1>
    <div class="cause-container">
      <h2>Choose a cause you care about</h2>
      <div class="cause-cards">
        <% @causes.each do |cause|%>
        <div class="cause-card">
          <h3><%= cause.name %></h3>
          <div class="cause-card-i">
            <h5>&nbsp;&nbsp;&nbsp;i&nbsp;&nbsp;&nbsp;</h5>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="time-container">
      <h2> How many minutes can you spare to <strong>ignite the fight</strong> today?</h2>
      <div class="time-cards">
        <div class="time-card">
          <button><%= link_to "2",task_time_path(1) %></button>
        </div>
        <div class="time-card">
          <h3>5</h3>
        </div>
        <div class="time-card">
          <h3>15</h3>
        </div>
        <div class="time-card">
          <h3>30</h3>
        </div>
        <div class="time-card">
          <h3>60</h3>
        </div>
        <div class="time-card">
          <h3>∞</h3>
        </div>
      </div>
    </div>
    <div class="submit-container">
      <div class="submit-card">
        <button><%= link_to "Take Action",cause_task_path(27) %></button>
      </div>
    </div>
  </div>
</div>

