<div class="page-container">
  <div class="title">
    <h2><%= @cause.name %></h2>
    <div class="carousel-container">
      <div class="cause-carousel">
        <h2> <&nbsp; Carousel &nbsp;> </h2>
          <div class="more-info"><button>Find out more. Click here</button></div>
      </div>
      <div class="progess-bar">
      </div>
      <div class="cause-container">
        <div class="cause-show-cards">
          <div class="cause-show-card">
            <h2> Find out the latest news about <%= @cause.name %></h2>
            <br>
            <div class="cause-news-card">
              <h4> News article 1 </h4>
            </div>
            <div class="cause-news-card">
              <h4> News article 2 </h4>
            </div>
            <div class="cause-news-card">
              <h4> News article 3 </h4>
            </div>
            <div class="cause-news-card">
              <h4> News article 4 </h4>
            </div>
          </div>
          <div class="cause-show-card">
            <h2>What you can do to help in X minutes</h2>
            <h6>Click on the links below then mark <br>the task as complete once you’re done!</h6>
            <ul>
              <br>
              <li>task 1</li>
              <li>task 2</li>
              <li>task 3</li>
              <li>task 4</li>
              <li>task 5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="more-info-show">
  <h1>More info about this cause<h1>
  <h3> Notable organizations </h3>
</div>

