<div class="footer">
  <div class="footer-section">
    <h2 class='brand-name-footer'>The OA</h2>
    <p>Making a difference since 2021.</p>
    <p><i class="fas fa-map-marker-alt"></i> London</p>
    <p><i class="fas fa-phone"></i> +3335555777</p>
  </div>
  <div class="footer-section">
    <h2 class='brand-name-footer'>Stay Connected</h2>
    <p><i class="fab fa-facebook-square"></i> Facebook</p>
    <p><i class="fab fa-instagram"></i> Instagram</p>
    <p><i class="fab fa-twitter"></i> Twitter</p>
  </div>
</div>
