<div class="cover">
  <div class="container-home-left">
    <h1>Welcome to the OA</h1>
      <br>
    <h3>Turn hashtags into action, retweets into revolution</h3>
    <div class="container-online">
      <div class="container-online-cards">
        <div class="container-online-card-left">
          <h4>
           <span id="banner-typed-text"></span>
          </h4>
        </div>
        <div class="container-online-card-right">
          <h4><strong>/ˈæk·tɪ·vɪst/</strong></h4>
        </div>
      </div>
      <div class="container-online-card-bottom">
        <div class="line"></div>
        <p>
         a person who believes in political or social change and takes part in activities online to try to make this happen.
        </p>
      </div>
    </div>
    <div class="buttons">
      <div><button class="button-ta"><%= link_to "Take Action", causes_path  %></button></div>
      <div><button class="button-li"><%= link_to "Login", new_user_session_path  %></button></div>
    </div>
  </div>
  <div class="container-home-right">
    <img src="https://res.cloudinary.com/k2x4b-523p/image/upload/o_52/v1623112549/n2omdnrbdzk3bk7w7jzf.jpg" alt="" class="homepage-image">
  </div>
</div>
  <div class="title">
    <div class="box "><h3><strong>How it works</strong></h3></div> <!-- add 'bounce' to class for 'how it works' bounce effect -->
  </div>
  <div class="cards">
    <div class="card box fill">
      <i class="fa-solid fa-ribbon"></i>
      <h5><strong>Choose causes you care about</strong></h5>
        <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officia minus reiciendis pariatur, ipsam animi repudiandae incidunt.</p>
    </div>
    <div class="card box fill">
      <i class="fa-solid fa-watch"></i>
      <h5><strong>Select time you have to volunteer</strong></h5>
        <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officia minus reiciendis pariatur, ipsam animi repudiandae incidunt.</p>
    </div>
    <div class="card box fill">
      <i class="fa-solid fa-list-check"></i>
      <h5><strong>Complete tasks online & track progress</strong></h5>
        <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officia minus reiciendis pariatur, ipsam animi repudiandae incidunt.</p>
    </div>
  </div>
</div>
<div class="carousel">
  <h5>Cause carousel here</h5>
  <div><button class="button-ta"><%= link_to "Get Involved", causes_path  %></button></div>
</div>
