.navbar-lewagon {
  justify-content: space-between;
  background: #C7E2D3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  background-color: #C7E2D3;
}
