.tweet {
  border-bottom: 3px #6ec5ee solid;
  border-right: 4px #6ec5ee solid;
  box-shadow: 0 10px 30px 0 rgba(grey, .5);
  padding: 20px;
  margin-top: 30px;
  border-radius: 0px 0px 16px 0px;
  height: auto;
}
.cause-show-card-left {
  box-shadow: 0 10px 30px 0 rgba(grey, .5);
}
