.checkboxes {
  border-bottom: 3px #6ec5ee solid;
  border-right: 4px #6ec5ee solid;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  padding: 20px;
  margin: 30px;
  border-radius: 0px 0px 16px 0px;
  height: auto;
}
.cause-show-card-left {
  box-shadow: 0 10px 30px 0 rgba(#6ec5ee,0.4);
}
